<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="klaudia.gogola.quizapp_zgadnijzwierzaka">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconcat2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_caticon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CardAnimalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InformationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LettersDone"
            android:screenOrientation="portrait"/>
        <activity android:name=".LettersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SoundDone"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnimalDone"
            android:screenOrientation="portrait"/>
        <activity android:name=".SoundActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnimalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SymbolDone"
            android:screenOrientation="portrait"/>
        <activity android:name=".SymbolActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>